@charset "utf-8";

#header{padding:50px 0;}

#header #logo{margin-bottom:50px; text-align:center;}
#header #logo *{margin:0; padding:0; line-height:1;}
#header #logo h1{font-size:36px; letter-spacing:5px; text-transform:uppercase;}
#header #logo p{margin-top:-2px; font-size:.9rem; font-style:italic; text-transform:lowercase;}

.insertedPic{
	width: 200px;
	height: 200px;
}
.profile{
	width: 50px;
	height: 50px;
}
div#awcc1522988213910 div.aw-widget-current-inner{
	width: 100%;
    max-width: none!important;
}


#pageintro{padding:150px 0 100px;}

#pageintro article{text-align:center;}
#pageintro article p{font-size:16px;}
#pageintro article .heading{font-size:32px; text-transform:uppercase;}
#pageintro article footer{margin-top:150px;}

.container{padding:80px 0;}

.services li{text-align:center;}
.services > li:first-child{text-align:left;}
.services li:nth-child(-n+3){margin-bottom:30px;}
.services li:last-child{margin-bottom:0;}
.services li figure{display:inline-block; position:relative; max-width:100%;}
.services li figure figcaption{display:block; position:absolute; top:50%; transform:translate(0,-50%); width:100%; line-height:1; text-align:center; opacity:0; z-index:1;}
.services li figure::after{position:absolute; top:0; left:0; width:100%; height:100%; content:""; opacity:0;}
.services li figure:hover::after{opacity:.6;}
.services li figure:hover figcaption{opacity:1;}

.margin-top{
	margin-top:20px;
}

.cta article{padding-top:20px; text-align:center;}
.cta article *{margin:0; padding:0;}
.cta article span{display:block; position:relative; width:100px; height:100px; margin:0 auto 60px; line-height:100px; font-size:40px; font-weight:400; z-index:1;}
.cta article span::before, .cta article span::after{position:absolute; top:0; right:0; bottom:0; left:0; content:""; border:1px solid; transform:rotate(-90deg); z-index:-1;}
.cta article span::after{transform:rotate(45deg);}
.cta article:hover span::after{transform:rotate(360deg); transition:transform .5s ease-in-out;}
.cta article .heading{margin-bottom:10px;}
.cta article footer{margin-top:30px;}

.comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
.comments li{margin:0 0 10px 0; padding:15px;}
.comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
.comments address{font-weight:bold;}
.comments time{font-size:smaller;}
.comments .comcont{display:block; margin:0; padding:0;}
.comments .comcont p{margin:10px 5px 10px 0; padding:0;}

.comments form{display:block; width:100%;}
.comments input, .comments textarea{width:100%; padding:10px; border:1px solid;}
.comments textarea{overflow:auto;}
.comments div{margin-bottom:15px;}
.comments input[type="submit"], .comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}


.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}
.aw-widget-legal{width: 100%;}
#map {
        height: 400px;
        width: 100%;
       }

#footer{padding:80px 0; border-bottom:1px solid;}

#copyright{padding:30px 0;}
#copyright *{margin:0; padding:0;}
#copyright p:first-of-type{margin-bottom:10px;}
#copyright p:last-of-type{font-size:.8rem;}

*, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none !important;}

.btn, .cta span::before, .cta span::after, .faico a, #backtotop{border-radius:5px; background-clip:padding-box;}

nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}



#mainav ul{text-transform:uppercase; text-align:center;}
#mainav ul ul{z-index:9999; position:absolute; width:160px; text-transform:none; text-align:left;}
#mainav ul ul ul{left:160px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 30px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:20px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:25px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:20px 0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}


#breadcrumb{padding:20px 0; text-transform:uppercase;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:4px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}


.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}


.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}

#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}
.faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}

.faico a{color:#FFFFFF; background-color:#A3C9D3;}

.faicon-dribble:hover{background-color:#EA4C89;}
.faicon-facebook:hover{background-color:#3B5998;}
.faicon-google-plus:hover{background-color:#DB4A39;}
.faicon-linkedin:hover{background-color:#0E76A8;}
.faicon-twitter:hover{background-color:#00ACEE;}
.faicon-vk:hover{background-color:#4E658E;}


body{color:#FFFFFF; background-color:#000000;}
a{color:#A3C9D3;}
a:active, a:focus{background:transparent;}
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#A3C9D3;}
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#A3C9D3; border-color:#A3C9D3;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

.row2, .row2 a{color:#888888; background-color:#F5F5F5;}
.row3{color:#888888; background-color:#FFFFFF;}

button#showTop {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto 15px;
    z-index: 100;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 72px;
    height: 54px;
    background-position: 0 0;

    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0;
    outline: 0;
    background: #2D2D2D url(../../images/threelines.jpg) center center;
	background-size:contain;
}

#header #logo a{color:inherit;}

.first{margin-left:0; clear:left;}
.services li figure:hover::after{background-color:#A3C9D3;}
.services li figure figcaption{color:#FFFFFF;}

.cta article .heading a{color:inherit;}
.cta article:hover .heading a{color:#A3C9D3;}
.cta article span{color:#FFFFFF;}
.cta article span::before, .cta article span::after{background-color:#A3C9D3; border-color:#A3C9D3;}
.cta article:hover span::after{border-color:inherit;}

#footer{border-color:rgba(255,255,255,.2);}

#copyright a{color:inherit;}

.dark-grey{
	color: darkgrey;
}

#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#A3C9D3; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#A3C9D3;}
#mainav form select{color:#FFFFFF; background-color:#1F1F1F; border-color:#000000;}

#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:#A3C9D3;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#A3C9D3;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#A3C9D3;}

#backtotop{color:#FFFFFF; background-color:#A3C9D3;}

table, th, td, .comments .avatar, .comments input, .comments textarea{border-color:#D7D7D7;}
.comments input:focus, .comments textarea:focus, .comments *:required:focus{border-color:#A3C9D3;}
th{color:#FFFFFF; background-color:#373737;}
tr, .comments li, .comments input[type="submit"], .comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), .comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, .comments a{background-color:inherit;}

@-ms-viewport{width:device-width;}


@media screen and (min-width:995px){
	.hoc{max-width:960px;}
	button#showTop {
    display: none;
}
	#site-nav{
		display:none;
	}
	.firstpic{margin-left:0; clear:left;}
}


@media screen and (max-width:994px) and (min-width:691px){
	.hoc{max-width:90%;}

	#mainav ul{display:none;}
	

	.comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}


	.one_half.first{
		width:100%;
	}
	
	.one_quarter.changingmedia{
		
		width:46.46625766871166%;
		padding:30px;
	}
	#site-nav ul li {
    border: 0;
    display: block;
    float: none;
    height: auto;
    width: 62%;
    margin: 0 auto;
    border-bottom: 2px solid #335152;
	}
		ul#menu-main {
		margin: 0;
		text-align: center;
		background: #2D2D2D;
		padding: 15px 0;
	}
		
	nav#site-nav {
		background: none;
		min-height: auto;
	}
	#site-nav ul li a {
		border-left: 0;
		height: 35px;
		line-height: 35px;
		text-shadow: none;
		padding: 0;
		width: 100%;
		color: white;
		font-size: 17px;
		display: inline-block;
	}
	.imgr,.imgl{
		width:100%;
		height: auto;
			
	}

}


@media screen and (max-width:690px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	

	#mainav ul{display:none;}
	
	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}

	#site-nav ul li {
    border: 0;
    display: block;
    float: none;
    height: auto;
    width: 62%;
    margin: 0 auto;
    border-bottom: 2px solid #335152;
}
	.gohalf{
		width:100%;
	}
		
	ul#menu-main {
    margin: 0;
    text-align: center;
    background: #2D2D2D;
    padding: 15px 0;
}
	
	nav#site-nav {
    background: none;
    min-height: auto;
}
	#site-nav ul li a {
    border-left: 0;
    height: 35px;
    line-height: 35px;
    text-shadow: none;
    padding: 0;
    width: 100%;
	color: white;
	font-size: 17px;
    display: inline-block;
}
	.one_half.first,.one_quarter.changingmedia{
		
		width:100%;
		padding:30px;
	}
	.imgr,.imgl{
		width: 100%;
		height: auto;
	}
	.one_quarter.changingmedia{
		
		width:100%;
		padding:30px;
		
	}
}

.submitButton:hover { cursor: pointer; 	}
.submitButton
{
	background-color: #FBFBFB;
    border: 1px solid #D7D7D7;
    width: 137px;
    display: inline-block;
	padding: 6px 5px;
}